h2 {
    text-align: center;
}

h3 {
    color: rgb(0, 10, 10);
    text-align: center;
}

p {
    text-align: center;

}

img {

    object-fit: cover;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 10px;
    margin: 100px 0 100px 0;
    font-weight: lighter;

}

.input_1 {
    display: flex;
    justify-content: center;
    margin: auto;
}